#message_container {
    width: 50%;
    margin: auto;
}

#message {
    margin: auto;
    margin-top: 5px;
    width: 300px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#sender-text {
    margin-top: -5px;
    margin-left: 5px;
    font-size: 18px;
}

#message-text {
    margin-left: 10px;
    margin-bottom: 20px;
}